body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.avatar {
    width: 150px;
    margin-right: 20px; 
}

.card {
    width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-bottom: 14px solid #231942;
    padding: 20px;
    background-color: #5e548e;
    text-align: center;
    border-radius: 10px;    
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}



/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

